<<<<<<< HEAD
*{padding:0;margin:0;box-sizing: border-box; font-family:Helvetica;}

/*Cabeçalho*/
header{
	background-color: rgba(0, 9, 49, 0.808);
	color: #c8ff00;
	padding: 15px;
	text-align: center;
	border-bottom: 4px solid #c8ff00;
}
/*Grid de produtos*/
.container{
	background-color: rgb(255, 240, 221);
	min-height: 100vh;
	padding-top: 75px;
	padding-left: 60px;
	
}

.card{
	
	width: 31%;
	display: inline-block;
	padding: 100px;
}

footer{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-top: 4px solid rgba(0, 9, 49, 0.808);
	padding: 80px;
}

=======
*{padding:0;margin:0;box-sizing: border-box; font-family:Helvetica;}

/*Cabeçalho*/
header{
	background-color: rgba(0, 9, 49, 0.808);
	color: #c8ff00;
	padding: 15px;
	text-align: center;
	border-bottom: 4px solid #c8ff00;
}
/*Grid de produtos*/
.container{
	background-color: rgb(255, 240, 221);
	min-height: 100vh;
	padding-top: 75px;
	padding-left: 60px;
	
}

.card{
	
	width: 31%;
	display: inline-block;
	padding: 100px;
}

footer{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-top: 4px solid rgba(0, 9, 49, 0.808);
	padding: 80px;
}

>>>>>>> 3d96aad5f4885c7175ee877f3ce0860d3409b08b
